/* (https://github.com/bdsources/sourcecheck) I don't want this theme on DiscordSource, editing this voids my license */
@import url('https://rawcdn.githack.com/bdsources/sourcecheck/f3967130069b3ab432037bf364400089c1c6d71c/code.css');
@import url('https://rawcdn.githack.com/bdsources/sourcecheck/f3967130069b3ab432037bf364400089c1c6d71c/discord.html');
@import url('https://github.com/bdsources/sourcecheck/blob/master/vars.css');
/* So the image I used is transparent so it won't use alot of CPU to run, I was going to add other codes to make the theme more "cool" */
.pc-app {
    background-image: url ('https://banner2.kisspng.com/20180603/fou/kisspng-sasha-braus-attack-on-titan-lost-girls-mikasa-ack-5b144d0908cdd6.4125874315280570970361.jpg');
    background-size: cover !important;
    background-posistion: center !important;
}
/* Rainbow Mentions, makes all @everyone or @user have a rainbow effect, its pretty cool tbh. Credit to NFLD99 (http://nfld99.com/) */

body:after {
  background: var;
  border: 1px solid var;
  left: 50%;
  border-radius: 5px;
  padding: 5px 15px;
  transform: translate(-50%,-100%);
  animation: Notif2 4s ease-in-out, CLog 10s infinate linear;
  text-align: center;
  position: aboslute;
  top: 0;
  height: auto;
  width: auto;
  z-index: 9997;
  color: var;
}
