.pc-app {
  background-image: url('https://i.imgur.com/lltqNNd.png');
  background-size: cover !important;
  background-position: fixed !important;
}
.pc-messagesWrapper, .pc-container, .pc-chat, .pc-spacer, .pc-layer, .pc-content{
	background-color: transparent !important;
	background: transparent !important;
}
.container-2Thooq, form, .pc-listeningAlong {
  background: transparent !important;
}
.pc-scroller::-webkit-scrollbar-track,
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece, 
.pc-messagesWrapper::-webkit-scrollbar-track {
  background-color: transparent !important;
  border-color: transparent !important;
}
.theme-dark .container-1r6BKw { 
-webkit-box-shadow: none
}
.header-2o-2hj{
	-webkit-box-shadow: none;
	    box-shadow: none;
}
.theme-dark .typing-2GQL18 {
    background-color: transparent;
}
.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU {
    background-color: #40444b !important;
}	
	/* light theme blocker */
	
	.theme-light .layer-3QrUeG:first-of-type::before {
	content: "Sorry, A light theme is not made yet. Soon though";
	text-align: center;
	width: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.75);
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 12px black;
	color: #fff;
	padding: 20px;
	padding-bottom: 80px;
	border-radius: 5px;
}

.app-2rEoOp.vertical-V37hAW.theme-light .container-2Thooq>.noWrap-3jynv6>.button-2b6hmh {
	position: absolute;
	left: 50%;
	border-radius: 3px;
	top: 45%;
	transform: translate(-50%, 120%);
	width: 180px;
	height: 40px;
	visibility: visible !important;
	background: var(--main-color) !important;
	box-shadow: 0 0 12px black;
	opacity: 1;
}

.app-2rEoOp.vertical-V37hAW.theme-light .container-2Thooq>.noWrap-3jynv6>.button-2b6hmh:before {
	position: absolute;
	content: "Turn On Dark Mode";
	padding: 20px;
	width: 200px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 15px;
	font-weight: 500;
	text-align: center;
}

.theme-light .side-8zPYf6 .item-PXvHYJ:nth-of-type(19) {
	border: 2px solid var(--hover-color);
	color: var(--hover-color);
	background: var(--main-color-faded);
	padding: 16px;
	text-align: center;
}

.theme-light .layer-3QrUeG {
	background: var(--backdropblurred) !important;
	background-size: cover !important;
}

.theme-light .layer-3QrUeG:first-of-type * {
	visibility: hidden;
}
